    
<main class="form-signin w-50 m-auto mt-5">
  <form>
      <%= image_tag "foto6.jpg", class: "card-img-top"%>
    <h1 class="h3 mb-3 fw-normal mt-3">Escribeme!</h1>

    <div class="form-floating mt-2">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Escribe tu correo</label>
    </div>
    <div class="form-floating mt-2">
      <input type="text" class="form-control" id="floatingText" placeholder="Envía tu mensaje">
      <label for="floatingPassword">Envia tu mensaje</label>
    </div>
    <button class="btn btn-primary w-100 py-2 mt-3" type="submit">Enviar</button>
    <p class="mt-3 mb-3 text-body-secondary">1993 © 2024</p>
  </form>
</main>