<h1>Proyectos en los que he estado trabajando</h1>
<p>Acá una breve muestra de lo que he estado haciendo este tiempo...</p>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
        <%= image_tag "foto1.jpg", class: "card-img-top"%>
      <div class="card-body">
        <h5 class="card-title">La llama de la transmutación</h5>
        <p class="card-text">Gran parte de mis ultimos proyectos ha sido la transformación interna y externa.</p>
        <a href="#" class="btn btn-secondary">Transmuta</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <%= image_tag "foto2.jpg", class: "card-img-top"%>
      <div class="card-body">
        <h5 class="card-title">El viaje a nuevas orillas</h5>
        <p class="card-text">Siempre ha sido una constante en mi vida el flujo y el viaje, por lo mismo, acá exploro aquello.</p>
        <a href="#" class="btn btn-secondary">Viaja</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <%= image_tag "foto3.jpg", class: "card-img-top"%>
      <div class="card-body">
        <h5 class="card-title">El ideario del Yo</h5>
        <p class="card-text">Entre mascascaras y plataformas se exalta el alma</p>
        <a href="#" class="btn btn-secondary">Yo</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <%= image_tag "foto4.jpg", class: "card-img-top"%>
      <div class="card-body">
        <h5 class="card-title">Transmutación perpetua</h5>
        <p class="card-text">Solve et Cuagula</p>
        <a href="#" class="btn btn-secondary">Ilumina</a>
      </div>
    </div>
  </div>
</div>